body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
/**=====HEADER=====*/
header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; /*centred block element */
  border: 1px solid red;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo-accent {
  color: #2e2f42;
}

.header-list {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-list-element,
.header-item {
  color: #2e2f42;
  list-style: none;
  text-decoration: none;
}

.header-list-element:hover,
.header-list-element:active,
.header-list-element:focus,
.header-item:hover,
.header-item:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-item:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

ul {
  list-style: none;
}
.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address-link:hover,
.address-link:active {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}

/**=========HEADER end===========*/

/**=====section1 =====*/
.section-main-title {
  padding: 0;
}

.container-main-title {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
}

.body-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.body-btn:hover,
.body-btn:active,
.body-btn:focus {
  background-color: #404bbf;
}
/*========section2-hidden-title=========*/

.section-hidden-title {
  padding-top: 120px;
  padding-bottom: 120px;
}
.description-list {
  list-style: none;
}

.description-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**=====section2 end=====*/

/**=====section3- our team end=====*/

.section-team {
  background-color: #f4f4fd;
}
.team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
  text-align: center;
}
.team-list {
  list-style: none;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  text-align: center;
}

.team-member {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 8px;
}

.team-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}
/**=====section3 end=====*/

/**=====section4 describe portfolio=====*/
.section-portfolio {
  background-color: #ffffff;
}
.section-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}
.section-portfolio-list {
  background-color: #ffffff;
  list-style: none;
}
.section-portfolio-item {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.section-subtitle {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 32px 16px 8px;
}

.section-portfolio-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 16px;
}
/**=====section4 end=====*/

/**=====footer=====*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 100px;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.p-footer {
  max-width: 264px;
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 16px;
}
/**=====footer end=====*/
